In [86]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_Canada'

In [6]:
response = requests.get(url)

In [7]:
soup = BeautifulSoup(response.text, 'html') 
print(soup)

In [81]:
table = soup.find_all('table')[0]

In [82]:
titles = table.find_all('th')

In [83]:
titles

[<th>Rank
 </th>,
 <th>Fortune 500<br/>rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Revenue<br/><small>(USD millions)</small>
 </th>,
 <th>Profits<br/><small>(USD millions)</small>
 </th>,
 <th>Employees
 </th>,
 <th>Headquarters
 </th>]

In [84]:
world_titles = [title.text.strip() for title in titles]

In [85]:
world_titles

['Rank',
 'Fortune 500rank',
 'Name',
 'Industry',
 'Revenue(USD millions)',
 'Profits(USD millions)',
 'Employees',
 'Headquarters']

In [148]:
df = pd.DataFrame(columns = world_titles)
df

Empty DataFrame
Columns: [Rank, Fortune 500rank, Name, Industry, Revenue(USD millions), Profits(USD millions), Employees, Headquarters]
Index: []

In [149]:
colum_row = table.find_all('tr')

In [165]:
for row in colum_row[1:]:
    row_data = row.find_all('td')
    world_rows = [data.text.strip() for data in row_data] 
    
    length = len(df) 
    df.loc[length] = world_rows

In [166]:
df.to_csv(r'C:\Users\Carolene\Desktop\Desktop\SQL Project\Largest companies in Canada.csv', index = False)